$palette: (
  primary: #64B5F6,
  text: #eee,
  text-grey: #ccc,
  
  background: rgb(24, 24, 24),
  header-bg: #000,
  header-text: #fff,
  footer-bg: #000,
  footer-text: #fff,
  border: #333,
  
  code-bg: #2d2d2d,
  code-text-primary: #7ec699,
  code-text-secondary: #e2777a,
);
