$palette: (
  primary: #0D47A1,
  text: #111,
  text-grey: #444,
  
  background: rgb(231, 231, 231),
  header-bg: #fff,
  header-text: #000,
  footer-bg: #fff,
  footer-text: #000,
  border: #ddd,

  code-bg: #2d2d2d,
  code-text-primary: #7ec699,
  code-text-secondary: #e2777a,
);
