@use "global" as *;

@use "shevy";

* {
  box-sizing: border-box;
  // animate color and background-color
  // transition: color 0.2s ease, background 0.2s ease;
}

html, body {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background: clr(background);
  color: clr(text);
}
