@use "global" as *;

pre,
code {
  overflow-x: auto;
}

pre {
  font-family: $font-monospace;
  code:not([class]) {
    padding: bs(1);
    overflow-x: scroll;
  }
}

code,
kbd {
  background: clr(code-text-bg);
  border-radius: .5em;
  color: clr(code-text-secondary);
  // display: inline-block;
  //padding: 0 bs(0.2);
  font-family: $font-monospace;
  font-size: 90%;
}

kbd {
  color: clr(code-text-primary);
  background: clr(code-text-bg);
}

mark {
  background: clr(primary);
  padding: 0 bs(0.2);
}
