@use 'global' as *;

html {
  font-family: $font-default;
}

a {
  color: clr(primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

small {
  color: clr(text-grey);
}

hr {
  border-bottom: 1px solid clr(text);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: clr(text-grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: clr(primary);
}

figcaption {
  color: clr(text-grey);
  margin-top: bs(0.5);
  font-size: 80%;
}

dt {
  font-weight: 600;
}
