@use 'global' as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  background: rgba(clr-rgb(footer-bg), 0.8);
  color: clr(footer-text);
  padding: bs(2);

  margin-top: bs(5);

  text-align: center;

  margin: .5em;
  border-radius: .5em;

  > * {
    margin: bs(1);
  }
}

footer nav a {
  img {
    vertical-align: middle;
  }
}

footer p,
footer nav {
  font-size: 90%;
}

blockquote footer {
  background: none;
  display: block;
  color: clr(text-grey);
  padding: bs(0.5) 0;
  font-size: 90%;
  text-align: start;
}
