@use 'global' as *;

form {
  padding: bs(1) bs(1) 0;
  border: solid $color-border;
  border-width: 0.2rem;
  margin-bottom: bs(1);

  small {
    font-style: italic;
  }
}

fieldset {
  legend {
    font-size: 150%;
    margin-bottom: bs(0.5);
  }

  padding: 0;
  margin: 0;
}

input,
textarea,
select,
button {
  border-radius: bs(0.2);
  display: inline-block;
  padding: bs(0.5);

  max-width: 100%;
  + label,
  + input[type='checkbox'],
  + input[type='radio'] {
    page-break-before: always;
  }
}

input,
select,
textarea {
  margin-bottom: bs(1);
}

textarea {
  min-height: bs(5);
  min-width: bs(10);
}

label {
  display: inline-block;

  + * {
    page-break-before: always;
  }
}

//hakan
fieldset > * {
  display: block;
}

select,
input {
  display: inline;
}

form > *:not(fieldset),
fieldset > * {
  margin-right: bs(0.5);
}

input[type='submit'],
input[type='reset'],
button {
  background: darken($white, 5);
  color: darken($grey, 25);
  cursor: pointer;
  display: inline-block;
  padding: bs(0.5) bs(1);
  text-align: center;

  margin: 0 bs(0.5) bs(1) 0;

  &:hover {
    background: darken($white, 15);
    color: $black;
  }

  &[disabled] {
    background: darken($white, 10);
    color: darken($grey, 10);
    cursor: not-allowed;
  }
}

input[type='submit'],
button[type='submit'],
button:not([disabled]) {
  background: $color-primary;
  color: $color-background;

  &:hover {
    background: darken($color-primary, 15);
    color: darken($color-background, 25);
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='phone'],
input[type='tel'],
input[type='number'],
input[type='datetime'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='color'],
input[type='time'],
input[type='search'],
input[type='range'],
input[type='file'],
input[type='datetime-local'],
select,
textarea {
  border: 1px solid $grey;
  padding: bs(0.5);
}

input[type='checkbox'],
input[type='radio'] {
  flex-grow: 0;
  margin: bs(0.5) bs(0.25) bs(0.5) 0;
  vertical-align: middle;

  + label {
    page-break-before: avoid;
  }
}

select[multiple] {
  min-width: bs(10);
}
