@use 'global' as *;
@use 'colors' as *;

th {
  font-weight: 600;
}

td,
th {
  border-bottom: 1px solid $grey;
  overflow: auto;
  padding: bs(0.5);
  text-align: left;
  vertical-align: top;
}

thead th {
  border-bottom: 1px solid clr(primary);
}

table {
  display: block;
  overflow-x: auto;
}
