<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ sitename }} &mdash; {{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="device-width, initial-scale=1.0">
  <meta name="generator" content="metalsmith">

  <link rel="stylesheet" href="/css/chota.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
  <div class="container">
    <main>
      {{{ contents }}}
    </main>
  </div>
</body>

</html>
