$color-primary: #00bcd4;
$color-background: rgb(24, 24, 24);
$color-text: #eee;
$color-text-grey: #ccc;
$color-border: #333;

$color-code-bg: #2d2d2d;
$color-code-text-primary: #7ec699;
$color-code-text-secondary: #e2777a;


$black: #000;
$white: #fff;
$grey: #595959;
